@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
// colors

$white : #fff;
$lightBrown : #F9F3F1;
$black: #000;
$brown : #B58152;

// fonts

$loginFont : 'Inter', sans-serif;
$regularFont : 'Jost', sans-serif;
$secondTitleFont : 'Old Standard TT', serif;