@use './../base/var' as v;
@use './../base/mixins' as m;


.descripcion {
    background-color: v.$white;
    padding-top: 2rem;
    padding-bottom: 3rem;

    @include m.desktopmd {
        .descripcion-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            .descripcion-texto,
            .descripcion-img {
                flex: 1;
            }
        }
    }


    .descripcion-texto {

        h3,
        h4 {
            font-weight: 600;
            padding-top: .3rem;
            text-align: center;

            @include m.desktopmd {
                text-align: start;
            }
        }

        h3 {
            font-size: 1.9rem;
            letter-spacing: .1rem;
        }

        h4 {
            font-size: 1.1rem;
            opacity: .8;
        }

        p {
            text-align: justify;
            margin-top: 1.5rem;
            font-size: 1.3rem;
            padding: 0 1rem 0 1rem;
        }
    }

    .descripcion-img {
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        img {
            width: 70%;
        }

    }
}

.especialistas {
    @include m.center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .especialistas-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .especialistas-subt {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 2rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .especialistas-summary {
        font-size: 1.4rem;
        width: 85%;
        text-align: justify;
        margin-bottom: 2rem;

        @include m.tablet {
            text-align: center;
            width: 70%;
        }

    }

    @include m.tablet {
        .especialistas-box {
            @include m.center;
        }
    }









}